.leadView fieldset {
  border: 1px solid #cccccc;
  padding: 20px;
  margin: 0 0 20px 0;
}

.social-links-icons {
  a {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #333;
    text-decoration: none;
  }
}

.tags ul.tag-list li span {
    color: #fff;
}

.position-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tags-container ul,
.status-container ul {
  padding-left: 0px;
}